@import 'footer';
@import 'header';
@import 'states';
@import 'forms';

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body {
  @include box(vertical, start, center);
  background: $base-body-color;
  padding: 0 5em;

  @media (max-width: 550px) {
    padding: 0 1.2em;
    font-size: 10px;
  }
}

button {
  @media (max-width: 550px) {
    width: 100%;
  }
}
