@import 'footer';
@import 'header';
@import 'states';
@import 'forms';

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body {
  @include box(vertical, start, center);
  background: $base-body-color;
  padding: 0 5em;
}

div.main {

  section.tips {

    article.tip {
      font-size: 12px;
    }
  }
}
