header {
  text-align: center;
  padding: 1em 0 2em;

  h1 {

    svg.icon-bike {
      position: relative;
      top: 2px;
      left: 1px;
    }
  }

  h3 {
    font-size: 1.3em;
    font-weight: 400;
  }
}
