$fill: darken($base-body-color, 60%);

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: $fill;
}
.icon-bike {
  fill: $fill;
  padding: 0 2px;
  @include size(68px 38px);
}

.bike {
  stroke: black;
  //fill: none;
  stroke-width: 0.85;
}

.icon-envelope {
  fill: $fill;
}
.icon-twitter {
  fill: $fill;
}
